style.css

body {
    margin: 0;
    background: black;
    color: #00ffcc;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.screen { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.title {
    font-size:60px;
    text-shadow: 0 0 20px #00fc;
    margin-bottom: 0.5em;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 40px;

}

.menu button {
    background: black;
    color: #00ffcc;
    border: 2px solid #00ffcc;
    padding: 15 4px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.menu button:hover {
    background: #00ffcc;
    color: black;
    box-shadow:0 0 20px #00ffcc;
}